.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: 60px;
	padding-bottom: 20px;

	.title {
		color: var(--text-color-main);
		font-size: 23px;
		font-weight: 500;
	}

	.model {
		width: 450px;
		margin-top: 40px;
	}
	.back {
		cursor: pointer;
		position: fixed;
		top: 10%;
		left: 6%;

		@media (max-width: 800px) {
			top: 8%;
		}
	}
}
.wrapperStepper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;

	@media (max-width: 800px) {
		width: 100%;
		.title {
			font-size: 19px;
		}

		.model {
			width: 90vw;
		}
	}
	.stepper {
		width: 100%;
		margin-top: 30px;

		& :global .MuiSvgIcon-root {
			width: 40px;
			height: 40px;
			cursor: pointer;
			.MuiStepIcon-text {
				font-size: 12px;
			}
		}
		& :global .MuiSvgIcon-root.Mui-active {
			width: 40px;
			height: 40px;
			color: var(--text-color-purple);
			.MuiStepIcon-text {
				font-size: 12px;
			}
		}
		& :global .MuiSvgIcon-root.Mui-completed {
			width: 40px;
			height: 40px;
			color: var(--text-color-purple);
			.MuiStepIcon-text {
				font-size: 12px;
			}
		}

		& :global .MuiStepLabel-labelContainer {
			span.Mui-active {
				color: var(--text-color-purple);
			}
			span {
				color: var(--text-color-main);
			}
		}
	}
}
