.infoHeader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--background-color-additional);
	color: var(--text-color-main);
	padding: 8px 30px;
	border-bottom: 1px solid var(--border-color);
}
